.search-input{
    flex: 1;
    background-image: url(/images/icons/search.svg);
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
}