// @import "bootstrap";

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

body,
html {
    width: 100%;
    height: 100%;
}

h1 {
    // font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 3.5em;
}

h1.text-home {
    -webkit-text-stroke: 3px green;
    -webkit-text-fill-color: white;
    font-size: 6.5rem;
    font-weight: 500;
}

.btn.login {
    width: 9rem;
    height: 3rem;
    border-radius: 50%
}

.green {
    color: #56983F !important;
}

.bg-green {
    background-color: #56983F !important;
    color: #fff !important;
}

.align-content {
    align-content: center;
}



@import "ember-bootstrap/bootstrap";
@import 'dashboard';
@import 'side-nav';
@import 'maps';
@import 'kpi';
@import 'top-nav';
@import 'index';
