.green {
    color: #019933 !important;
}
.bg-table {
    background-color: #E6E6E6 !important;
}
.bg-green {
    background-color: #019933 !important;
    color: #fff !important;
}

.bg-purple {
    background-color: #803f98 !important;
    color: #fff !important;
}

.bg-blue {
    background-color: #3f5798 !important;
    color: #fff !important;
}

.bg-brown {
    color: #fff !important;
    background-color: #633517 !important;
}

.bg-red {
    color: #fff !important;
    background-color: #a6001a !important;
}

.bg-orange {
    color: #fff !important;
    background-color: #e06000 !important;
}

.bg-schoolbus {
    color: #fff !important;
    background-color: #ee9600 !important;
}

.bg-yellow {
    color: #fff !important;
    background-color: #ffab00 !important;
}
.bg-gray {
    color: #000 !important;
    background-color: #E6E6E6 !important;
}