.bg-image {
    // min-height: 93% !important;
    // background-image: url(../images/landing.jpeg);
    background-image: url(../images/icons/main_bg_image.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    left: 0;
    top: 55px;
    right: 0;
    bottom: 0;
    height: 100%;
}
.content-home{
    min-height: 0 !important;
}

h1.text-home {
    -webkit-text-stroke: 3px green;
    -webkit-text-fill-color: white;
    font-size: 6rem;
    font-weight: 500;
    text-transform: uppercase;
}

h2.title-home {
    font-size: 3.5rem;
    font-weight: 500;
}

.btn.login {
    width: 9rem;
    height: 3rem;
    border-radius: 50%
}

.align-content {
    align-content: center;
}