h1.text-home {
    -webkit-text-stroke: 3px green;
    -webkit-text-fill-color: white;
    font-size: 6rem;
    font-weight: 500;
    text-transform: uppercase;
}

h2.title-home {
    font-size: 3.5rem;
    font-weight: 500;
}

.btn.login {
    width: 9rem;
    height: 3rem;
    border-radius: 50%
}

.align-content {
    align-content: center;
}