.ember-google-map {
    height: 900px;
}

.anchor-middle-bottom {
    transform: translateX(-50%) translateY(-100%);
}

.anchor-center {
    transform: translateX(-50%) translateY(-50%);
}

.bg-green-hover li:hover {
    background-color: #56983F;
    color: white;
}


.alerts-container {
    position: fixed;
    top: $grid-gutter-width;
    right: $grid-gutter-width;
    z-index: 2000;
}

.alert {
    opacity: 0;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.alert.active {
    opacity: 1;
}

.alert.active.exiting {
    opacity: 0;
}

.tooltip {
    position: relative;
    max-width: 200px;
    padding: 6px 10px;
    color: $body-color;
    background-color: $orange;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    will-change: transform;
    transition: transform 0.2s cubic-bezier(0.485, 1.65, 0.545, 0.835);
}

.tooltip::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    margin: -5px;
    background: inherit;
    transform: rotate(45deg);

    bottom: 0;
}

.tooltip.active {
    transform: scale(1.25);
    z-index: 1000;
}


.tooltip-inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anchor-middle-bottom {
    transform: translateX(-50%) translateY(-100%);
}