.bg-dark {
    background-color: #000000 !important;
}

.navbar-nav .nav-item a {
    font-size: 1.5em;
    font-weight: 700;
}

.btn svg {
    fill: #ffffff;
}

button .btn {
    border-radius: 20px;
}

.content {
    min-height: 87%;
}

.fixed-top {
    z-index: 1 !important;
    top: -30px !important;
}