.bg-dark {
    background-color: #000000 !important;
}

.navbar-nav .nav-item a {
    font-size: 1.5em;
    font-weight: 700;
}

.btn svg {
    fill: #ffffff;
}

button .btn {
    border-radius: 20px;
}

.content {
    min-height: 87%;
}

.fixed-top {
    z-index: 1 !important;
    top: -30px !important;
}

li>a.nav-link {
    color: #727E8C;
  }

  .user-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    float: left;
  }

  .user-name {
    display: inline-block;
    line-height: 1.2;
    font-size: smaller;
  }