{{yield}}
<table class="table">
    <thead>
        <tr class="bg-green">
            {{#each-in @model.[0] as |k|}}
            <th>{{uppercase k}}</th>
            {{/each-in}}
        </tr>
    </thead>
    <tbody>
        {{#each @model as |row|}}
        <tr>
            {{#each-in row as |k v|}}
            <td>{{v}}</td>
            {{/each-in}}
        </tr>
        {{/each}}
    </tbody>
</table>