{{!-- {{yield}} --}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">GOVERNANCE_OR_MINISTERIAL</th>
            <th scope="col">BUDGET OFFICE</th>
            <th scope="col">% BUDGET</th>
            <th scope="col">% OVERALL BUDGET </th>
            <th scope="col">ACTUAL COST</th>
            <th scope="col">% COMPLETED</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GOVERNANCE</td>
            <td>60,000,000</td>
            <td>56</td>
            <td>42</td>
            <td>31,275,000</td>
            <td>21</td>
        </tr>
        <tr>
            <td>GOVERNANCE</td>
            <td>60,000,000</td>
            <td>56</td>
            <td>42</td>
            <td>31,275,000</td>
            <td>21</td>
        </tr>
        <tr class="bg-green">
            <td>{{ uppercase "Total"}}</td>
            <td>60,000,000</td>
            <td>56</td>
            <td>42</td>
            <td>31,275,000</td>
            <td>21</td>
        </tr>
    </tbody>
</table>