{{page-title "Filter"}}
{{outlet}}

<div class="row">
    <div class="col-md-2 col-lg-2 mb-4">
        <div class="card bg-green text-light shadow border-0 rounded-0">
            <div class="card-body text-center">
                <div class="card-icon">
                    {{svg-jar "add-report" width='60px'}}
                    <p class="card-label">ADD REPORT</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 mb-4">
        <div class="card bg-green text-light shadow border-0 rounded-0">
            <div class="card-body text-center">
                <div class="card-icon">
                    {{svg-jar "edit" width='60px'}}
                    <p class="card-label">EDIT REPORT</p>
                </div>
            </div>
        </div>
    </div>
</div>