{{page-title "CountyFe"}}

{{#if (and eq this.route "login" (eq this.route "index"))}}
    <Header::Top-Nav />
{{else}}
    <Header::Side-Nav />
{{/if}}

<div class="content border border-success">
    {{outlet}}
</div>