{{page-title "CountyFe"}}

{{#if (eq this.route "index")}}
<Header::Top-Nav />

    {{else if (eq this.route "login")}}
<Header::Top-Nav />
{{else}}
<Header::Side-Nav />
{{/if}}

<div class="content border border-success">
    {{outlet}}
</div>

{{!--
downloadables
integrations - kobo collect, arcgis
profiles - user email linkage, user profile
coloring dashboards
 --}}