{{page-title "CountyFe"}}

{{#if (not-eq this.route "index")}}

<Header::Side-Nav />

{{else if (eq this.route "index")}}
    <Header::Top-Nav />
{{/if}}

<div class="content border border-success">
    {{outlet}}
</div>