{{page-title "Dashboard"}}
{{outlet}}

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <div class="card-title">
        {{this.number}}
    </div>
        {{ember-chart
        type="line"
        data=this.data
        options=this.options
        }}
    </div>
</div>