{{page-title "Dash"}}
{{outlet}}

<div class="card-deck">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <h5 class="card-header">KPI</h5>
        <div class="card-body">
            <h5 class="card-title">Get data from all county projects</h5>
            <p class="card-text">Summary of data</p>
            <LinkTo @route="kpi" class="pr-4">
                <a href="#" class="btn btn-primary">Visit KPI's</a>
            </LinkTo>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <h5 class="card-header">Projects</h5>
        <div class="card-body">
            <h5 class="card-title">Integrated projects data</h5>
            <p class="card-text">Quick sample text to create the.</p>
            <LinkTo @route="kpi" class="pr-4">
                <a href="#" class="btn btn-primary">Visit project</a>
            </LinkTo>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <h5 class="card-header">Dashboard</h5>
        <div class="card-body">
            <h5 class="card-title">Check out dashboard</h5>
            <p class="card-text">Quick sample text to create the.</p>
            <LinkTo @route="dashboard" class="pr-4">
                <a href="#" class="btn btn-primary">Visit Dashboard</a>
            </LinkTo>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <h5 class="card-header">Existing Maps</h5>
        <div class="card-body">
            <h5 class="card-title">Maps information</h5>
            <p class="card-text">Quick sample text to create the.</p>
            <LinkTo @route="maps" class="pr-4">
                <a href="#" class="btn btn-primary">Visit Maps</a>
            </LinkTo>
        </div>
    </div>
</div>