{{page-title "Dash"}}
{{outlet}}
<div>
    <h4 class="mb-4 text-muted">Dashboard </h4>

    <div class="row">
        <div class="col-md-3 col-lg-2 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Summary data of county projects</h5>
                    <LinkTo @route="kpi" class="pr-4">
                        <a href="#" class="btn btn-primary">Visit KPI's</a>
                    </LinkTo>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Maps data positioning</h5>
                    <LinkTo @route="maps" class="pr-4">
                        <a href="#" class="btn btn-primary">Visit Maps</a>
                    </LinkTo>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Check out dashboard</h5>
                    <LinkTo @route="dashboard" class="pr-4">
                        <a href="#" class="btn btn-primary">Visit project</a>
                    </LinkTo>
                </div>
            </div>
        </div>
    </div>
</div>