{{page-title "Index"}}
{{outlet}}
<div class="landing bg-image">
    <div class="row green">
        <div class="col text-center mt-5 pt-5 text-uppercase">
            <h1 class="text-home">Monitoring Data</h1>
            <h2 class="title-home mb-5 pb-5">{{uppercase "The easy way"}}</h2>
            <Common::Profile-Icon @class="login rounded" @link="login" @text="login" />
        </div>
    </div>
</div>