{{page-title "Login"}}
{{!-- {{outlet}} --}}
<div class="login-form-parent">
            <Authentication::Login @registeredUser={{changeset this.model this.LoginValidations}}
                @authenticationSuccessful={{this.login}} />
</div>